.contacts {
margin-top: 20px;
   &__title {
      font-size: 48px;
      padding-left: 20px;
      max-width: 1640px;
      margin: 0 auto;
      margin-bottom: 23px;

   }

   &__inner {
      display: flex;
      justify-content: space-between;
   }

   &__feedback {
      padding-left: 153px;
padding-right: 10px;
      padding-top: 127px;
      border-top: 1px solid #cacaca;
flex: 1 0 675px;
   }

   &__feedback-title {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 16px;
   }

   &__address{
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 40px;
      font-style: normal;
   }

   &__form-wrapper{
   }

   &__form{
padding: 10px 24px;
border: 1px solid #333333;
border-radius: 100px;
width: 100%;
max-width: 400px;
   }

   &__form-title {
      font-size: 24px;
      margin-bottom: 20px;
   }

   &__form--name {
      margin-bottom: 23px;
   }

   &__form--tel {
      display: block;
      margin-bottom: 20px;
   }

   &__btn {
      padding: 16px 34px;
      border: 2px solid #9D5CD0;
      border-radius: 50px;
      color: #9D5CD0;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 40px;
   }

   &__network-title {
      font-size: 24px;
      margin-bottom: 22px;
   }

   &__network-wrapper {
   }

   &__network{
      width: 40px;
      height: 40px;
      display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
   }

   &__network--whatsapp {
      background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 59.0625C46.0508 59.0625 59.0625 46.0508 59.0625 30C59.0625 13.9492 46.0508 0.9375 30 0.9375C13.9492 0.9375 0.9375 13.9492 0.9375 30C0.9375 46.0508 13.9492 59.0625 30 59.0625Z' fill='%2330BF39'/%3E%3Cpath d='M38.8125 32.6265C38.4375 32.439 36.4688 31.314 36.0938 31.2202C35.7188 31.0327 35.4375 31.0327 35.1563 31.4077C34.875 31.7827 34.0313 32.7202 33.8438 32.9077C33.5625 33.189 33.375 33.189 33 33.0015C32.625 32.814 31.3125 32.3452 29.8125 30.8452C28.6875 29.7202 27.8438 28.4077 27.6563 27.939C27.4688 27.564 27.6563 27.2827 27.8438 27.0952C28.0313 26.9077 28.2188 26.6265 28.5 26.439C28.7813 26.2515 28.7813 26.064 28.9688 25.7827C29.1563 25.5015 29.0625 25.314 28.9688 25.0327C28.875 24.7515 28.125 22.7827 27.8438 21.939C27.5625 21.0952 27.1875 21.2827 27 21.189C26.7188 21.189 26.5313 21.0952 26.25 21.0952C25.875 21.0952 25.4063 21.2827 25.125 21.564C24.75 21.939 23.625 22.8765 23.625 24.8452C23.625 26.814 24.9375 28.8765 25.125 29.064C25.3125 29.3452 27.75 33.6577 31.7813 35.439C35.8125 37.2202 35.8125 36.6577 36.5625 36.6577C37.3125 36.6577 39 35.7202 39.375 34.8765C39.75 33.939 39.75 33.0952 39.6563 33.0015C39.4688 33.0015 39.1875 32.9077 38.8125 32.6265ZM31.3125 42.2827C28.6875 42.2827 26.25 41.5327 24.0938 40.1265L19.0312 41.7202L20.7188 36.8452C19.125 34.5952 18.1875 31.8765 18.1875 29.064C18.1875 21.7515 24.0938 15.8452 31.4063 15.8452C38.7188 15.8452 44.5313 21.7515 44.5313 29.064C44.5313 36.3765 38.625 42.2827 31.3125 42.2827ZM31.3125 13.2202C22.5938 13.2202 15.4688 20.3452 15.4688 29.064C15.4688 31.9702 16.2187 34.7827 17.7188 37.2202L14.8125 45.7515L23.625 42.939C25.9688 44.2515 28.5938 44.9077 31.3125 44.9077C40.0313 44.9077 47.1563 37.7827 47.1563 29.064C47.1563 20.3452 40.125 13.2202 31.3125 13.2202Z' fill='white'/%3E%3C/svg%3E%0A"); 
   }

   &__network--telegramm {
      background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60Z' fill='url(%23paint0_linear)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5796 29.6834L31.075 22.1474C39.4063 18.6821 41.1375 18.0801 42.2658 18.0603C42.514 18.0559 43.0689 18.1174 43.4283 18.4091C43.7319 18.6553 43.8153 18.9881 43.8553 19.2215C43.8954 19.4549 43.945 19.9869 43.9055 20.4025C43.454 25.1461 41.5005 36.6579 40.5066 41.9709C40.086 44.2191 39.2586 44.9729 38.4564 45.0467C36.7143 45.207 35.3913 43.8953 33.7039 42.7892L27.0089 38.292C24.0469 36.3402 25.967 35.2674 27.6551 33.5142C28.0968 33.0552 35.7728 26.0734 35.9213 25.44C35.9393 25.3608 35.9571 25.0656 35.7817 24.9096C35.6063 24.7536 35.3473 24.8076 35.1605 24.8495C34.8958 24.9096 30.6777 27.6975 22.5064 33.2135C21.3091 34.0356 20.2246 34.4363 19.253 34.4153C18.1819 34.3921 16.1214 33.8096 14.5897 33.3117C12.7109 32.701 11.2177 32.3781 11.3477 31.3409C11.4154 30.8007 12.1594 30.2483 13.5795 29.6835L13.5796 29.6834Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='30' y1='0' x2='30' y2='59.555' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232AABEE'/%3E%3Cstop offset='1' stop-color='%23229ED9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
      margin-left: 15px;
   }
   &__map {
      width: 600px;   
      [class*='ground-pane']{
         filter: grayscale(1);
      }
   }
   // &__map-mobile{
   //    display: none;
   // }
}

@media(max-width:1111px){
   .contacts{
      &__title{
         padding-left: 50px;
      }
      &__feedback {
         padding-left: 50px;
   padding-right: 10px;
         padding-top: 127px;
         border-top: 1px solid #cacaca;
   flex: 1 0 488px;
      }
      &__form {
         max-width: 335px;
     }
     &__network {
      width: 60px;
      height: 60px;
  }
   &__network--telegramm {
      margin-left: 26px;
  }
   }
}

@media(max-width:810px){
   .contacts{
      &__title{
         padding-left: 50px;
      }
      &__feedback {
         padding-left: 50px;
   padding-right: 10px;
         padding-top: 127px;
         border-top: 1px solid #cacaca;
   flex: 1 0 430px;
      }
      &__form {
         max-width: 335px;
     }
     &__network {
      width: 40px;
      height: 40px;
  }
   &__network--telegramm {
      margin-left: 15px;
  }
   }
}

@media(max-width:700px){
   .contacts{
      &__title{
         padding-left: 15px;
      }
      &__feedback {
         padding-left: 15px;
   padding-right: 10px;
         padding-top: 127px;
         border-top: 1px solid #cacaca;
   flex: 1 0 370px;
      }
   }
}

@media(max-width:580px){
   .contacts{
      margin-top: 15px;
      &__title{
         padding-left: 15px;
         font-weight: 400;
         font-size: 28px;
      }
      &__feedback-title {
         font-weight: 600;
         font-size: 18px;
         margin-bottom: 16px;
     }
     &__title {
      margin-bottom: 19px;
  }
  &__feedback-title {
   margin-bottom: 5px;
}
     &__address{
        font-weight: 400;
        font-size: 13px;
     }
      &__feedback {
         padding-left: 15px;
         padding-right: 15px;
         padding-top: 0px;
         border-top: none;
   flex: 1 1 100%;
      }
      &__map{
         display: none;
      }
      &__map-mobile{
         display: block;
         width: 100%;
         position: absolute;
         left: 0;
         right: 0;
         height: 320px;
         [class*='ground-pane']{
            filter: grayscale(1);
         }
      }
      &__form {
         max-width: 100%;
     }
     &__address {
      margin-bottom: 20px;
  }
  &__form-wrapper{
   margin-top: 368px;
  }
   &__form-title{
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 23px;
   }
   &__form--name {
      margin-bottom: 20px;
  }  
  &__btn {
   padding: 10px 35px;
   font-size: 12px;
   margin-bottom: 26px;
}
&__network-title{
   font-size: 18px;
   margin-bottom: 15px;
}
}
}




