.events {
margin-top: 14px;
margin-bottom: 77px;
    &__container {
    }

    &__title {
        font-size: 48px;
        margin-bottom: 22px;
    }

    &__inner {
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        max-height: 720px;
        overflow: hidden;
        transition: max-height 2s;
        margin: 0 -15px;
    }
    

    &__inner--active{
        max-height: 5000px;
    }

    
    &__inner--active .events__item{
        margin-bottom: 25px;
    }

    &__item {
        flex-grow:0;
        flex-shrink: 1;
        flex-basis: 32.50%;
        padding: 0 15px;
        margin-bottom: 125px;
    }

    &__img {
        width: 100%;
    }

    &__item-info {
        padding: 52px 45px 50px 50px;
        position: relative;
        border-bottom: 1px solid #CACACA;
        border-left: 1px solid #CACACA;
        // display: flex;
        // flex-direction: column;
        height: 400px;
        border-right: 1px solid #CACACA;
    }

    &__sub-text {
        font-size: 12px;
        position: absolute;
        top: 17px;
        right: 20px;
        line-height: 14px;
        color: #999999; 
        text-align: right;
    }

    &__item-title {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 3px;
        line-height: 32px;

    }

    &__text {
        font-size: 16px;
        line-height: 32px;
        max-height: 185px;
        .simplebar-scrollbar{
            left: -2px;
            border: 0;
        }
    
        .simplebar-scrollbar:before {
            border-radius: 0px;
        }
        
        .simplebar-scrollbar::before {
            background-color: #9D5CD0;
            // opacity: 1;
            width: 4px;
          }
    
          .simplebar-track.simplebar-vertical{
              background-color: #fff;
              width: 4px;
              right: -10px;
          }

          .simplebar-scrollbar.simplebar-visible:before {
            /* When hovered, remove all transitions from drag handle */
            opacity: 1;
            transition: opacity 0s linear;
          }
    }

    &__link {
        position: absolute;
        bottom: 42px;
        // margin-top: 17px;
        color: #9D5CD0;
        font-size: 16px;
        padding-bottom: 4px;
        border-bottom: 1PX solid #9D5CD0;
        &:hover{
            color: #7943A4;
        }
    }

    &__btn {
        margin-top: 29px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        font-size: 18px;
        color: #9D5CD0;
        padding: 17px 35px;
        border: 2px solid #9D5CD0;
        border-radius: 100px;
        &:hover{
            transition: .3s;
            background-color: #7943A4;
            color: #fff;
        }
    }
    .swiper-wrapper{
        width: auto;
    }
    .swiper-pagination{
        display: none;
    }
}
.container {
}
.section-container {
}
.swiper-container {
}
.swiper-slide {
}

@media(max-width:1268px){
    .events{
        margin-top: 14px;

        &__inner {
            margin: 0px -8.5px;
        }
        &__item{
            padding: 0 8.5px;
            
        }
        .swiper-slide{
            margin-bottom: 44px;
        }

        &__title{
            margin-bottom: 24px;
        }

        &__img{
            height: 200px;
        }
        &__item-info{
           height: 483px;
           padding: 52px 18px 0 35px;        
        }
        &__sub-text{
            margin-bottom: 20px;
            right: 15px;
        }
        &__text{
            max-height: 192px;
        }
        &__link{
            bottom: 50px;
        }
        &__btn{
            margin-top: 12px;
        }
    }
}

@media(max-width:861px){
    .events{

        &__item {
            flex-basis: 31.50%;
        }
    }
}

@media(max-width:850px){
    .events{
        margin-top: 7px;
        &__inner{
            margin: 0 -17.5px;
        }
        &__item {
            padding: 0 17.5px;
            flex-basis: 50%;
        }
    }
}

@media(max-width:600px){
    .events{
        margin-top: 40px;
        margin-bottom: 47px;
        &__title{
            font-weight: 400;
            font-size: 28px;
            margin-bottom: 17px;
        }
        &__inner{
            margin: 0;
            padding: 0;
            flex-wrap: nowrap;
            overflow: initial;
            max-height: unset;
        }
        &__item {
            flex-shrink: 0;
            flex-grow: initial;
            flex-basis: auto;
            padding: 0;
            margin: 0;
        }

        &__item-title{
            margin-bottom: 11px;
        }
        &__btn{
            display: none;
        }
        &__sub-text{
            font-weight: 400;
        }
        &__item-info {
            height: 483px;
            padding: 52px 18px 0 28px;
        }
        &__text {
            max-height: 160px;
        }
        .swiper-pagination{
            display: block;
        }
        .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
            bottom: 0px;
            left: 12px;
        }

        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 7.5px;
        }
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            display: inline-block;
            border-radius: 50%;
            background-color: #CACACA;
            opacity: 2;
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active{
            background-color: #666;
        }
        .swiper-slide {
            margin-bottom: 32px;
        }
    }
}
