.gallery {
background-image: url(../img/1920/gallery-background.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
min-height: 995px;
color: #fff;
    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;

    }

    &__info {
        max-width: 100%;
        flex-basis: 400px;
        margin-right: 50px;
    }

    &__title {
        font-size: 48px;
        margin-bottom: 30px;
    }

    &__select-wrapper {
        z-index: 0;
    }

    &__select-title {
        padding-left: 3px;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 18px;
    }

        .choices__inner{
        background-color: transparent;
        font-size: 16px;
        border-radius: 6px;
        min-height: 40px;
    }

    .choices__list--dropdown {
    visibility: visible;
    max-height: 0;
    background-color: transparent;
    border-radius: 6px;
    transition: 0s;

    }

    .choices__list--dropdown.is-active {
        visibility: visible;
        max-height: 500px;
        transition: 0.5s;
        height: fit-content;
        background-color: transparent;
        border-radius: 6px;
        }

    .choices__list--single {
        padding: 1px 16px 0px 7px;
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background-color: transparent;
    }

    .choices__item.choices__item--choice.choices__item--selectable{
        border-bottom: 1px solid #fff;
    }

    .choices__list.choices__list--dropdown{
        border-bottom: none;
    }

    .choices__item.choices__item--choice.is-selected.choices__item--selectable{
        display: none;
    }

    .choices__list--dropdown .choices__item {
        position: relative;
        padding: 12px 10px 10px 21px;
        font-size: 16px;
    }

    .choices[data-type*=select-one]::after, .choices[data-type*=select-one]::before {
        content: '';
        height: 1px;
        width: 7px;
        background-color: #fff;
        position: absolute;
        transform: rotate(45deg);
        border: none;
        right: 18.5px;
        top: 60%;
        margin-top: -2.5px;
        pointer-events: none;
    }

    .choices[data-type*=select-one]::before{
        transform: rotate(-45deg);
        right: 14px;
        margin-top: -2.5px;
    }

    .choices[data-type*=select-one].is-open::after{
        transform: rotate(-45deg);
    }

    .choices[data-type*=select-one].is-open::before{
        transform: rotate(45deg);
    }

    &__select {
            padding-left: 3px;
        z-index: 2;
        width: 100%;
        max-width: 400px;
    }

    &__select-option {
    }

    &__text {
    position: absolute;
    bottom: 62px;
    font-weight: 600;
    font-size: 16px;
    line-height: 2;
    max-width: 400px;
    }

    &__text-link {
        color: #C283F3;
    }

    &__slider {
        max-width: 100%;
        flex-basis: 1150px;
        height: 100%;
        margin: 0;
    }

    &__slider-control {
                    width: 130px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 5px;
            margin-top: 15px;
            margin-bottom: 26px;
    }

    &__arrow {
            flex-basis: 11px;
    height: 12px;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 50px;
    background-color: #666;
    &:focus{  
        padding: 13px;
        outline: none;
        border: 2px solid #7943A4;
    }
    &:hover{
        transition: .3s;
        background-color: #9D5CD0;
    }
    &:active{
        transition: 0;
        padding: 13px;
        background-color: #7943A4;
        border-color: #D1A9F0;
        
    }
    }

    &__arrow--prev {
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 11L10 6L5 0.999998' stroke='white'/%3E%3C/svg%3E%0A");
        transform: rotate(-180deg);
    }

    &__slider-fraction {
        font-size: 16px;
        width: auto;
        color: #fff;
    }

    &__arrow--next {
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 11L10 6L5 0.999998' stroke='white'/%3E%3C/svg%3E%0A");
    }

    &__slider-slides {
    }

    &__slide-btn {
        // height: auto;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            display: flex;
            transition: .3s;
            background-image: url("data:image/svg+xml,%3Csvg width='81' height='79' viewBox='0 0 81 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='25.1624' height='6.2906' transform='matrix(-0.72074 0.693205 0.72074 0.693205 18.1355 57.1965)' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M44.2696 65.7708C28.0411 65.7708 14.8853 52.6834 14.8853 36.5393C14.8853 20.3952 28.0411 7.30786 44.2696 7.30786C60.4981 7.30786 73.6539 20.3952 73.6539 36.5393C73.6539 52.6834 60.4981 65.7708 44.2696 65.7708ZM44.2696 73.0786C23.984 73.0786 7.53923 56.7194 7.53923 36.5393C7.53923 16.3592 23.984 0 44.2696 0C64.5552 0 81 16.3592 81 36.5393C81 56.7194 64.5552 73.0786 44.2696 73.0786Z' fill='white'/%3E%3Cpath d='M42 24L42 49L47.9954 49L47.9955 24L42 24Z' fill='white'/%3E%3Cpath d='M57.2336 34L32.2336 34L32.2336 39.9954L57.2336 39.9955L57.2336 34Z' fill='white'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            left: 25px;
            right: 25px;
            top: 25px;
            bottom: 25px;
            opacity: 0;
            background-color:  rgba(0, 0, 0, 0.5);
        }
        &:hover::after{
            opacity: 1;
        }
        &::before{
            content: '';
            position: absolute;
            background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 2px solid #D1A9F0;
            display: none;
        }
        &:active::before{
                display: block;
        }
    }

    &__slider-slide {
    }

    &__img {
        width: 350px;
        height: 350px;
    }
}
// POPUPS################################
.gallery-popup {


    &__content {
        position: relative;
    }
    
    &__body {
        display: flex;
        max-width: 900px;
    }
    
    &__close {
        // background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666641 15.3043L15.3333 3.17761e-05L16 0.695679L1.33331 15.9999L0.666641 15.3043Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666725 -2.96187e-06L15.3334 15.3042L14.6667 15.9999L5.76143e-05 0.695644L0.666725 -2.96187e-06Z' fill='black'/%3E%3C/svg%3E%0A");
        // background-repeat: no-repeat;
        // background-position: center;
        background-color: transparent;
        // width: 16px;
        // height: 16px;
        right: 20px;
        padding: 10px;
        top: 20px;
        outline: none;
        &::after,&::before{
            content: '';
            position: absolute;
            width: 21px;
            height: 1px;
            left: 0;
            background-color: #000;
            transform: rotate(-45deg);
        }
        &::before{
            transform: rotate(45deg);
        }
        &:focus{
            border: 1px solid #534261;
        }
    }
    
    &__img{
        height: 500px;
        width: 400px;
        align: center;
    }
    
    &__info {
        padding: 126px 47px 20px 47px;
    }
    &__title {
        color: #333;
        font-weight: 600;
        font-size: 24px;
        display: inline-block;
        margin-bottom: 6px;
    }
    &__subtitle {
        color: #333;
        font-weight: 600;
        font-size: 16px;
        display: block;
        margin-bottom: 6px;
    }
    &__date {
        color: #969696;
        font-size: 12px;
        display: block;
        margin-bottom: 35px;
    }
    &__text {
        line-height: 32px;
        font-size: 16px;
        max-height: 200px;
        overflow: auto;
        padding-right: 10px;
        width: 405px;
        
        .simplebar-scrollbar{
            left: -2px;
            border: 0;
        }
    
        .simplebar-scrollbar:before {
            border-radius: 0px;
        }
        
        
    
        .simplebar-scrollbar::before {
            background-color: #9D5CD0;
            opacity: 1;
            width: 4px;
          }
    
          .simplebar-track.simplebar-vertical{
              background-color: #fff;
              width: 4px;
              right: 0px;
          }
    }
}


@media(max-width:1599px){
    .gallery{
        &__img{
            width: 280px;
            height: 280px;
        }
        &__text{
            width: 284px;
        }
    }
}

@media(max-width:1024px){
    .gallery{
        height: 840px;
        &__img{
            width: 280px;
            height: 280px;
        }
                &__info{
        
           width: 100%;
           flex-basis: unset;
           max-width: 280px;

        }
        &__slider-control{
            margin-bottom: 25px;
        }
    }
    
    .gallery-popup{
        
        &__body {
            width: 594px;
            height: 594px;

        }

        &__img {
            width: 264px;
            height: 594px;
        }

        &__text{
            width: 231px;
            max-height: 273px ;
        }
        &__info {
            padding: 126px 40px 20px 48px;
        }
    }
}

@media(min-width:1330px){
    .gallery__slide.gallery__slider-slide.swiper-slide:nth-child(6n+1),
    :nth-child(6n+2),
    :nth-child(6n+3){
        margin-top: 0 !important;
    }
}

@media(max-width: 1023px){
    .gallery{
        height: 1169px;
     &__inner{
         flex-direction: column;
     }

     &__select-wrapper{
         margin-bottom: 94px;
     }

     &__text{
         bottom: -23px;
         width: 100%;
         max-width: calc(100vw - 100px);
     }

     &__slider{
         flex-basis: unset;
     }

     &__slider-control{
         margin-left: 0;
     }
  
    }
}

@media(max-width: 939px){
    .gallery{
        height: 1169px;
    
    &__img{
        width: 317px;
    }
  
    }
        .gallery-popup{
        &__body{
            // max-width: 668px;
            // width: 100%;
            width: auto;
        }

        &__img{
            width: 301px;
        }

        &__info{
            align-items: center;
            justify-content: center;
            // padding: 0;
        }

        &__text{
            width: 282px;
        }
    }
}

@media(max-width: 719px){
    .gallery{
        height: 963px;
        min-height: auto;
    
                &__title{
            font-size: 28px;
            font-weight: 400;
            margin-bottom: 25px;
        }
        .section-container{
            padding-top: 56px;
        }
                &__slider-slide.swiper-slide._popup-link {
            width: 280px;
            height: 367px;
        }
&__slide-btn{
    &::after,&::before{
        display: none;
    }
    &:active::before {
        display: none;
    }
}
&__select-title {
    margin-bottom: 14px;
}
&__select-wrapper {
    margin-bottom: 115px;
}
.gallery__info {
    width: 100%;
    max-width: 300px;
}
    &__arrow{

        padding: 12px;
        flex-basis: 11px;
        height: 12px;
        padding: 15px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        border-radius: 50px;
        background-color: #666;
        &:focus{  
            padding: 12px;
            outline: none;
            border: 2px solid #7943A4;
        }
        &:hover{
            background-color: #666;
        }
        &:active{
            transition: 0;
            padding: 12px;
            background-color: #7943A4;
            border-color: #D1A9F0;
            
        }
    }
    &__img{
        width: 290px;
        height: 367px;
    }
    &__slider{
        display: flex;
        flex-direction: column-reverse;
    }
    &__slider-control{
        width: 100%;
        justify-content: center;
        margin: 0;
        margin-top: 20px;
    }
    &__slider-fraction{
            margin: 0 12px;
    }
    &__slide{
        text-align: center;
    }
    .gallery__text {
    bottom: -110px;
    width: 100%;
    max-width: calc(100vw - 30px);
}
  
    }
        .gallery-popup{
        &__body{
            display: flex;
            flex-direction: column;
        }
       
        &__info{
           padding: 20px 0 34px 20px;
            background-color: #fff;
        }
       
        &__img{
       width: 290px;
       height: 200px;
        }
       
        &__text{
            width: 249px;
        }
       
       &__date {
       
           margin-bottom: 8px;
       }
    }
}


