//====================================================================================================
.header {
	z-index: 3;
background-color: #000;
caret-color: #C283F3;
position: relative;
	&__top {
		display: flex;
		padding: 30px 0; 
		align-items: center;
	}
	&__inner::before, .header__inner::after{
		display: none;
	}
	&__searchBtn--1024px {
		display: none;
	}
	&__burger{
		display: none;
	}

	&__menu {
		margin-left: 180px;
		display: flex;
	}

	&__menu-item {
		&+&{
			margin-left: 62px;
		}
		&:last-child{
			padding-right: 20px;
		}
	}

	&__menu-link {
		outline-width: 2px;
		outline-color: #7943A4;
		word-wrap: normal;
		color: #fff;
		font-weight: 600;
		font-size: 18px;
		@include transition;
		&:hover{
			color: $purpure-link;
		}
		&:active{
			color: $purpure-light;
		}
	}

	&__login{
		color: #fff;
		font-weight: 400;
		margin-left: auto;
		font-size: 18px;
		padding-left: 20px;
		position: relative;
		align-items: center;
		display: flex;
		@include transition;
		&:hover{
			color: $purpure-link;
		}
		&::before{
		content: '';
		position: absolute;
		background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.12056 9.09278L6.13889 10.1111L9.75 6.5L6.13889 2.88889L5.12056 3.90722L6.98389 5.77778H0V7.22222H6.98389L5.12056 9.09278ZM11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V4.33333H1.44444V1.44444H11.5556V11.5556H1.44444V8.66667H0V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0Z' fill='white'/%3E%3C/svg%3E%0A");
		left: 0;
		width: 13px;
		height: 13px;		
		@include transition;
		}
		&:hover::before{
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.12056 9.09278L6.13889 10.1111L9.75 6.5L6.13889 2.88889L5.12056 3.90722L6.98389 5.77778H0V7.22222H6.98389L5.12056 9.09278ZM11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V4.33333H1.44444V1.44444H11.5556V11.5556H1.44444V8.66667H0V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0Z' fill='%23C283F3'/%3E%3C/svg%3E%0A");
		}
	}

	&__login.header__login--1024px{
		display: none;
	}

	&__bottom {
		background-color: rgba(0,0,0,0.4);
		z-index: 6;
		position: absolute;
		width: 100%;
}

	&__bottom-inner{
		display: flex;
		padding: 21px 20px 23px 20px;
	}

	&__bottom-menu {
	display: flex;
	}

	&__bottom-item {
		position: relative;
		display: flex;
		align-items: center;
		padding-right: 14px;
	
		&::after{
			content: "";
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 5L6 10L0.999997 5' stroke='white'/%3E%3C/svg%3E%0A");
			position: absolute;
			right: 0;
			width: 12px;
			height: 11px;
		}
		&+&{
			margin-left: 99px;
		}
	}

	&__bottom-item--active{
		transition: all .3s;
		&::after{
			top: 10px;
		transform: rotate(-180deg);
		}
	}

	&__bottom-link {
		color: #fff;
		font-size: 18px;
		background-color: transparent;
	}
	&__sub-menu {
		position: absolute;
		top: 50px;
		background-color: #666;
		padding: 0 40px;
		transition: all .3s;
		height: 0px ;
		min-width: 300px;
	}

	&__sub-item:first-child{
		margin-top: 45px;
	}

	&__sub-item:last-child{
		margin-bottom: 45px;
	}

	&__sub-menu--active{
		height: 300px;	
	}

	&__sub-item {
	padding-left:14px;
	padding-right: 14px;
	padding-top: 7px;
	padding-bottom: 12px;
	width: 220px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	transition: all 2s;
	
	&:hover{
		animation: scaleBackground 2s linear alternate infinite;
	}
	&+&{
		margin-top: 22px;
	}
	}

	&__sub-link {
		display: inline-block;
		color: #fff;
		font-size: 14px;
		font-weight: 600;
		position: relative;
		
		&:hover::after{
			border: 2px solid #9D5CD0;
		}
		&:active::after{
			background-color: rgba($color: #C283F3, $alpha: 0.4)
		}
		&::after{
			content: '';
			position: absolute;
			width: 220px;
			left: -14px;
			top: -12px;
			height: 40px;
		}
	}

	&__sub-menu--reality &__sub-item:nth-child(4n+1){
		background-image: url(../img/1920/drop-downs/drop-down1/drop-down-img1.jpg);
	}

	&__sub-menu--reality &__sub-item:nth-child(4n+2){
		background-image: url(../img/1920/drop-downs/drop-down1/drop-down-img2.jpg);
	}
	&__sub-menu--reality &__sub-item:nth-child(4n+3){
		background-image: url(../img/1920/drop-downs/drop-down1/drop-down-img3.jpg);
	}
	&__sub-menu--reality &__sub-item:nth-child(4n+4){
		background-image: url(../img/1920/drop-downs/drop-down1/drop-down-img4.jpg);
	}


	&__sub-menu--impressionism &__sub-item:nth-child(4n+1){
		background-image: url(../img/1920/drop-downs/drop-down2/drop-down-img1.jpg);
	}
	&__sub-menu--impressionism &__sub-item:nth-child(4n+2){
		background-image: url(../img/1920/drop-downs/drop-down2/drop-down-img2.jpg);
	}
	&__sub-menu--impressionism &__sub-item:nth-child(4n+3){
		background-image: url(../img/1920/drop-downs/drop-down2/drop-down-img3.jpg);
	}
	&__sub-menu--impressionism &__sub-item:nth-child(4n+4){
		background-image: url(../img/1920/drop-downs/drop-down2/drop-down-img4.jpg);
	}
	

	&__sub-menu--postimpressionism &__sub-item:nth-child(4n+1){
		background-image: url(../img/1920/drop-downs/drop-down3/drop-down-img1.jpg);
	}
	&__sub-menu--postimpressionism &__sub-item:nth-child(4n+2){
		background-image: url(../img/1920/drop-downs/drop-down3/drop-down-img2.jpg);
	}
	&__sub-menu--postimpressionism &__sub-item:nth-child(4n+3){
		background-image: url(../img/1920/drop-downs/drop-down3/drop-down-img3.jpg);
	}
	&__sub-menu--postimpressionism &__sub-item:nth-child(4n+4){
		background-image: url(../img/1920/drop-downs/drop-down3/drop-down-img4.jpg);
	}


	&__sub-menu--avangard &__sub-item:nth-child(4n+1){
		background-image: url(../img/1920/drop-downs/drop-down4/drop-down-img1.jpg);
	}
	&__sub-menu--avangard &__sub-item:nth-child(4n+2){
		background-image: url(../img/1920/drop-downs/drop-down4/drop-down-img2.jpg);
	}
	&__sub-menu--avangard &__sub-item:nth-child(4n+3){
		background-image: url(../img/1920/drop-downs/drop-down4/drop-down-img3.jpg);
	}
	&__sub-menu--avangard &__sub-item:nth-child(4n+4){
		background-image: url(../img/1920/drop-downs/drop-down4/drop-down-img4.jpg);
	}


	&__sub-menu--futurizm &__sub-item:nth-child(4n+1){
		background-image: url(../img/1920/drop-downs/drop-down5/drop-down-img1.jpg);
	}
	&__sub-menu--futurizm &__sub-item:nth-child(4n+2){
		background-image: url(../img/1920/drop-downs/drop-down5/drop-down-img2.jpg);
	}
	&__sub-menu--futurizm &__sub-item:nth-child(4n+3){
		background-image: url(../img/1920/drop-downs/drop-down5/drop-down-img3.jpg);
	}
	&__sub-menu--futurizm &__sub-item:nth-child(4n+4){
		background-image: url(../img/1920/drop-downs/drop-down5/drop-down-img4.jpg);
	}

	

	&__search-wrapper{
		display: flex;
		align-items: center;
		margin-left: auto;
		padding-left: 31px;
		position: relative;
		z-index: 6;
		&::before{
			content: '';
			position: absolute;
			background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='white'/%3E%3C/svg%3E%0A");
			left: 0;
			width: 23px;
			height: 22px;
		}
	}

	&__search-wrapper--active{
			&::before{
				transition: all .3s;
				background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='%23C283F3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='%23C283F3'/%3E%3C/svg%3E%0A");		
			}
	}



	&__search {
		background-color: transparent;
		padding-top: 5px;
		outline: none;
		width: 218px;
		padding-right: 10px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.85);
		padding-bottom: 3px;
		transition: all .3s;
		&::placeholder{
		font-size: 18px;
		color: rgba(255, 255, 255, 0.85);
		}
		// &:hover{
		// 	border-color: #C283F3;
		// }
	}
	.simplebar-scrollbar{
		left: -2px;
		border: 0;
	}
	.simplebar-scrollbar::before {
		background-color: #FFF;
		opacity: 1;
		width: 4px;
	  }
	  &__search-wrapper--1024px{
		  display: none;
	  }
	  .simplebar-track.simplebar-vertical{
		  background-color: #000;
		  width: 4px;
		  right: 10px;
	  }
}

@keyframes scaleBackground {
	0%{
		background-size: 100%;
	}
	100%{
		background-size: 125%;
	}
}
@media(max-width: 1443px){
	.header {
			&__top {
				display: flex;
				justify-content: space-between;
			}
		&__logo{
		margin-left: 25px;
		}
			&__menu {
				margin: 0;
				display: flex;
			}
		
			&__menu-item {
				&+&{
					margin-left: 20px;
				}
			}
		
			&__menu-link {
				font-size: 14px;
			}
		
			&__login{
				margin: 0;
				font-size: 16px;
			}
		
			
			&__bottom-menu {
			display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 800px;
			}

			&__bottom-inner{
				justify-content: space-between;
			}
		
			&__bottom-item {
				position: relative;
				display: flex;
				align-items: center;
				padding-right: 14px;
				margin: 0 !important;
			}

		
			&__bottom-link {
				color: #fff;
				font-size: 18px;
				background-color: transparent;
			}

			&__search-wrapper{
				margin-left: 0;
				&::before{
					display: none;
				}
			}
		
			&__search {
				padding-top: 5px;
				width: 150px;
				&::placeholder{
				font-size: 16px;
				color: rgba(255, 255, 255, 0.85);
				}
			}
		}
}

@media(max-width: 1024px){

	.header {
			&__top {
			display: flex;
			justify-content: space-between;
			}
			&__searchBtn--1024px {
				display: block;
			}
			&__logo--1024px {
				margin-left: 30px;
			}

			&__burger {
				background-color: transparent;
			  display: block;
			  position: relative;
			  height: 20px;
			  position: relative;
			  z-index: 3;
			  outline: invert;
			}
		   
			&__burger span {
			  position: absolute;
			  background-color: #fff;
			  width: 28.2px;
			  position: absolute;
			  left: 0;
			  height: 3.65px;
			  top: 9px;
			  transition: all 0.3s ease 0s;
			}
		   
			&__burger:before,
			&__burger:after {
			  content: '';
			  background-color: #fff;
			  position: absolute;
			  height: 3.65px;
			  left: 0;
			  transition: all 0.3s ease 0s;
			}
		   
			&__burger:before {
			  top: -4px;
			  width: 36px;
			}
		   
			&__burger:after {
			  bottom: -4px;
			  width: 24px;
			}

			&__burger.active span {
			  transform: scale(0);
			}
			&__burger.active{
				z-index: 20;
			}
			&__burger.active:before {
			  transform: rotate(45deg);
			  top: 9px;
			}
		   
			&__burger.active:after {
			  transform: rotate(-45deg);
			  bottom: 7px;
			  width: 36px;
			}

			&__searchBtn--1024px{
				background-image: url("data:image/svg+xml,%3Csvg width='30' height='29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M6.581 21.046L0 27.41 1.646 29l6.58-6.362z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.125 24.174c-6.087 0-10.797-4.901-10.797-10.664 0-5.762 4.71-10.663 10.797-10.663 6.087 0 10.797 4.901 10.797 10.663 0 5.763-4.71 10.664-10.797 10.664zm0 2.666c-7.362 0-13.33-5.968-13.33-13.33C2.795 6.15 8.763.18 16.125.18c7.361 0 13.33 5.969 13.33 13.33 0 7.362-5.969 13.33-13.33 13.33z' fill='%23fff'/%3E%3C/svg%3E");
				width: 30px;
				height: 29px;
				background-color: transparent;
				transition: all .3s;
			}

			&__searchBtn--hide{
				margin-right: 230px;
				margin-left: -230px;
			}

			&__search-wrapper--1024px{
				display: block;
				z-index: 6;
				&:focus-visible
				&:focus-within{
					border-color: #C283F3;
				}
			}

			&__search--1024px{
				// outline: none;
				// &:focus{
				// 	border-color: #C283F3;
				// }
			}

			&__nav {
				position: absolute;
				z-index: 9;
				transition: all .3s;
				// width: 100vw;
				// height: 100%;
				width: 100vw;
				height: 768px;
				top: 0px;
				left: -1050px;
				bottom: 0px;
				background-color: rgba(0, 0, 0, 0.9);
			}

			&__nav--active{
				left: 0px;
			}

			&__menu {
				position: absolute;
				// width: 100vw;
				// height: 768px;
				left: 50px;
				top: 100px;
				z-index: 9;
				display: flex;
				flex-direction: column;
				padding-top: 11px;
			}
		
			&__menu-item {
				&+&{
					margin: 0;
					margin-top: 31px;
				}
				&:last-child .header__login--1024px{
					margin-top: 100px;			
					padding: 15px 0px;
					padding-left: 106px;
					padding-right: 92px;
					font-weight: 600;
					border: 2px solid #9d5cd0;
					border-radius: 100px;
					&::before{
						left: 86px;
				
					}
				}
			}

		
			&__menu-link {
				word-wrap: normal;
				color: #fff;
				font-weight: 600;
				font-size: 24px;
				@include transition;
				
				&:hover{
					color: $purpure-link;
				}
			}
		
			&__login{
			display: none;
			}

			&__login.header__login--1024px{
				display: block;
				font-size: 18px;
				font-weight: 700;
				display: flex;
				}
		
			&__bottom { 
				display: none;
		}
		
			&__search-wrapper--1024px{
				position: absolute;
				right: -500px;
				transition: all .3s;
			}

			&__search--active{
				animation: moveSearch 0.3s;
				right: 50px;
			}
		
			&__search--1024px {
				background-color: transparent;
				padding-top: 5px;
				width: 218px;
				padding-right: 10px;
				border-bottom: 1px solid rgba(255, 255, 255, 0.85);
				padding-bottom: 3px;
				color: #fff;
				font-size: 16px;
				&::placeholder{
				font-size: 18px;
				color: #fff;
				}
			}

		}
}

@media(max-width: 844px){
	.container{
		padding-left: 50px;
		padding-right: 50px;
	}
	.header{
		&__top{
			// padding: 12px 0;
			padding: 30px 0;
		}
		&__top--active{
			padding: 36px 0;
		}
		&__logo{
			margin-left: 27px;
		}

	&__search-wrapper--1024px{
		padding: 0 106px 10px 77px;
	right: -700px;
	width: 100%;
	max-width: 755px;
	}
	&__search--active::before, .header__search--active::after{
		content: '';
		display: block;
		position: absolute;
		height: 2px;
		width: 20px;
		transition: all .3s;
		background-color: #fff;
		right: 46px;
		top: 20px;
		transform: rotate(45deg);
	}

	&__search--active::before{
		transform: rotate(-45deg);
	}

	&__searchBtn--hide{
		// margin-right: 672px;
		margin: 0;
	
	}

	&__search--1024px{
		padding: 0 12px;
		padding-top: 12px;
		width: 100%;
		&::placeholder{
			color: transparent;
		}	
	}

	&__search--active{
		right: 0px;
	}
	&__searchBtn--1024px{
		transition: all .3s;
	}
	}
}

@media(max-width: 400px){

	.header{
		&__burger:before {
			width: 21px;
		}
		&__logo{
			margin-left: 20px;
		}
		&__searchBtn--1024px {
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='5.02605' height='1.25651' transform='matrix(-0.71131 0.702878 0.71131 0.702878 3.57617 11.5841)' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.75929 13.3207C5.45281 13.3207 2.89432 10.5994 2.89432 7.40037C2.89432 4.2013 5.45281 1.48007 8.75929 1.48007C12.0658 1.48007 14.6243 4.2013 14.6243 7.40037C14.6243 10.5994 12.0658 13.3207 8.75929 13.3207ZM8.75929 14.8007C4.76036 14.8007 1.51858 11.4875 1.51858 7.40037C1.51858 3.31326 4.76036 0 8.75929 0C12.7582 0 16 3.31326 16 7.40037C16 11.4875 12.7582 14.8007 8.75929 14.8007Z' fill='white'/%3E%3C/svg%3E%0A");
			width: 16px;
			height: 16px;
		}
		&__nav{
			height: 370px;
		}
		&__top{
			padding: 0;
			padding-top: 28px;
			padding-bottom: 10px;
		}
		&__burger span{
			height: 2px;
			width: 16px;
		}
		&__burger::after, .header__burger::before{
			height: 2px;
		}
		&__burger::after{
			bottom: 3px;
			width: 13px;
		} 
		&__burger::before{
		width: 20px;
		top: 2px;
		}
		.header__burger.active:before {
			top: 10px;
		}
		.header__burger.active:after {
			bottom: 8px;
			width: 20px;
		}
		&__nav {
			height: 370px;
		}

		&__nav--active{
			left: 0px;
		}

		&__menu {

			left: 15px;
			top: 67px;
			z-index: 9;
			display: flex;
			flex-direction: column;
			padding: 0;
		}
	
		&__menu-item {
			&+&{
				margin: 0;
				margin-top: 10px;
				// margin-top: 15px;
			}
			&:last-child .header__login--1024px{
				margin-top: 11px;
				padding: 10px 0;
				padding-left: 43px;
				padding-right: 30px;
				font-weight: 600;
				font-size: 12px;
				border: 2px solid #9d5cd0;
				border-radius: 100px;
				&::before{
					left: 30px;
					background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.545 6.295L4.25 7L6.75 4.5L4.25 2L3.545 2.705L4.835 4H0V5H4.835L3.545 6.295ZM8 0H1C0.445 0 0 0.45 0 1V3H1V1H8V8H1V6H0V8C0 8.55 0.445 9 1 9H8C8.55 9 9 8.55 9 8V1C9 0.45 8.55 0 8 0Z' fill='white'/%3E%3C/svg%3E%0A");
					width: 9px;
					height: 9px;
				}
			}
		}

		&__menu-link {
			word-wrap: normal;
			color: #fff;
			font-weight: 600;
			font-size: 16px;
			@include transition;
			
			&:hover{
				color: $purpure-link;
			}
		}

		&__search-wrapper--1024px{
			padding: 0 106px 10px 77px;
		right: -700px;
		width: 100%;
		max-width: 755px;
		}
		&__search--active::before, .header__search--active::after{
			content: '';
			display: block;
			position: absolute;
			height: 2px;
			width: 20px;
			transition: all .3s;
			background-color: #fff;
			right: 46px;
			top: 20px;
			transform: rotate(45deg);
		}
	
		&__search--active::before{
			transform: rotate(-45deg);
		}
	
		&__searchBtn--hide{
			// margin-right: 672px;
			margin: 0;
		
		}
	
		&__search--1024px{
			padding: 0 12px;
			padding-top: 12px;
			width: 100%;
			&::placeholder{
				color: transparent;
			}	
		}
	
		&__search--active{
			right: 0px;
		}
		&__searchBtn--1024px{
			transition: all .3s;
		}
	}
	.header--search{
		background-color: rgba(0,0,0, $alpha: 0.4);
		position: absolute;
		width: 100vw;
		z-index: 3;
		backdrop-filter: blur(10px);
	}
}

// @keyframes moveSearch {
// 	0%{
// 		right: -500px;
// 	}
// 	100%{
// 		right: 50px;
// 	}
// }
//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
