.hero{
    width: 100%;
    position: relative;
    z-index: 2;
    height: 800px;
    overflow: hidden;
    &__block {
        padding: 0 20px;
        position: absolute;
        top: 240px;
        left: -3px;
        color: #fff;
        line-height: 84px;
        }

    &__inner {
            position: relative;;
            z-index: 5;
            
            }
            
        
    &__title {
        font-weight: 700;
        font-size: 72px;
        margin-bottom: 18px;
        max-width: 600px;
        
        }
        &__btn, &__text{
            margin-left: 4px;
        }
     &__text {
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 85px;
        max-width: 610px;
        }

    &__btn{
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        padding: 22px 35px;
        color: #fff;
        background-color: #9D5CD0;
        border-radius: 100px;
        &:hover{
            transition: .3s;
            color: #fff;
            border: 3px solid #D1A9F0;
        }
        &:active{
            color: #fff;
            background-color: #7943A4;
        }
    }

    &__slideshow,
    &__slideshow:after {
        width: 100%;
        z-index: 0;
    }

    &__slideshow &__slideshow-item &__slideshow-img{
        width: 100%;
        position: absolute;
        top: 0px;
        height: 800px;
        left: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        background-color: $purpure-light;
        z-index: 0;
        animation: imageAnimation 36s linear infinite 0s;
        // background-image: url(../img/1920/hero-img1-1920px.jpg);
    }

    &__slideshow &__slideshow-item:nth-child(1) &__slideshow-img{
        background-image: url(../img/1920/hero-img1-1920.jpg);
    }
    &__slideshow &__slideshow-item:nth-child(2) &__slideshow-img{
        background-image: url(../img/1920/hero-img2-1920.jpg);
        animation-delay: 6s;
    }
    &__slideshow &__slideshow-item:nth-child(3) &__slideshow-img{
        background-image: url(../img/1920/hero-img3-1920.jpg);
        animation-delay: 12s;
    }
    &__slideshow &__slideshow-item:nth-child(4) &__slideshow-img{
        background-image: url(../img/1920/hero-img1-1920.jpg);
        animation-delay: 18s;
    }
    &__slideshow &__slideshow-item:nth-child(5) &__slideshow-img{
        background-image: url(../img/1920/hero-img2-1920.jpg);
        animation-delay: 24s;
    }
    &__slideshow &__slideshow-item:nth-child(6) &__slideshow-img{
        background-image: url(../img/1920/hero-img3-1920.jpg);
        animation-delay: 30s;
    }
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        transform: scale(1.1);
    }
    25% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% { opacity: 0 }
}

@media(max-width:1024px){
.hero{
height: 767px;
    &__text{
    max-width: 666px;
    margin-bottom: 127px;
    }
    &__block{
        top: 212px;
        left: 24px;
    }
    &__title{
        margin-bottom: 10px;
    }
    &__slideshow &__slideshow-item:nth-child(1) &__slideshow-img{
        background-image: url(../img/1024/hero-img1-1024.jpg);
    }
    &__slideshow &__slideshow-item:nth-child(2) &__slideshow-img{
        background-image: url(../img/1024/hero-img2-1024.jpg);
        animation-delay: 6s;
    }
    &__slideshow &__slideshow-item:nth-child(3) &__slideshow-img{
        background-image: url(../img/1024/hero-img3-1024.jpg);
        animation-delay: 12s;
    }
    &__slideshow &__slideshow-item:nth-child(4) &__slideshow-img{
        background-image: url(../img/1024/hero-img1-1024.jpg);
        animation-delay: 18s;
    }
    &__slideshow &__slideshow-item:nth-child(5) &__slideshow-img{
        background-image: url(../img/1024/hero-img2-1024.jpg);
        animation-delay: 24s;
    }
    &__slideshow &__slideshow-item:nth-child(6) &__slideshow-img{
        background-image: url(../img/1024/hero-img3-1024.jpg);
        animation-delay: 30s;
    }
}
}

@media(max-width:630px){
    .hero{
    height: 555px;
        &__inner{
            padding: 0;
        }
        &__title{
            text-align: center;
            margin-bottom: 70px;
        }
        &__text{
        font-size: 20px;
        margin-left: 0;
        max-width: auto;
        margin-bottom: 70px;
        text-align: center;
        }
        &__block{top: 145px;
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 1;
            left: 0;
        }
        &__title{
            font-size: 32px;
        }
        &__slideshow &__slideshow-item &__slideshow-img{
            height: 555px;
        }
        &__slideshow &__slideshow-item:nth-child(1) &__slideshow-img{
            background-image: url(../img/768/hero-img1-768.jpg);
        }
        &__slideshow &__slideshow-item:nth-child(2) &__slideshow-img{
            background-image: url(../img/768/hero-img2-768.jpg);
            animation-delay: 6s;
        }
        &__slideshow &__slideshow-item:nth-child(3) &__slideshow-img{
            background-image: url(../img/768/hero-img3-768.jpg);
            animation-delay: 12s;
        }
        &__slideshow &__slideshow-item:nth-child(4) &__slideshow-img{
            background-image: url(../img/768/hero-img1-768.jpg);
            animation-delay: 18s;
        }
        &__slideshow &__slideshow-item:nth-child(5) &__slideshow-img{
            background-image: url(../img/768/hero-img2-768.jpg);
            animation-delay: 24s;
        }
        &__slideshow &__slideshow-item:nth-child(6) &__slideshow-img{
            background-image: url(../img/768/hero-img3-768.jpg);
            animation-delay: 30s;
        }
    }
    .header__nav {
        height: 555px;
    }
    .header__menu-item+.header__menu-item {
        margin-top: 25px;
    }
    .header__menu-item:last-child .header__login-1024px {
        margin-top: 25px;
    }
    }


    @media(max-width:539px){
        .hero{
        height: 560px;
            &__inner{
                padding: 0;
            }
            &__title{
            line-height: 2;
            margin-bottom: 20px;
            }
            &__text{
            font-size: 20px;
            margin-left: 0;
            max-width: auto;
            text-align: center;
            }
            &__block{
            top: 115px;
            }
            &__title{
                font-size: 30px;
                line-height: 1.5;
            }
            &__slideshow &__slideshow-item &__slideshow-img{
                height: 560px;
            }
            &__slideshow &__slideshow-item:nth-child(1) &__slideshow-img{
                background-image: url(../img/768/hero-img1-768.jpg);
            }
            &__slideshow &__slideshow-item:nth-child(2) &__slideshow-img{
                background-image: url(../img/768/hero-img2-768.jpg);
                animation-delay: 6s;
            }
            &__slideshow &__slideshow-item:nth-child(3) &__slideshow-img{
                background-image: url(../img/768/hero-img3-768.jpg);
                animation-delay: 12s;
            }
            &__slideshow &__slideshow-item:nth-child(4) &__slideshow-img{
                background-image: url(../img/768/hero-img1-768.jpg);
                animation-delay: 18s;
            }
            &__slideshow &__slideshow-item:nth-child(5) &__slideshow-img{
                background-image: url(../img/768/hero-img2-768.jpg);
                animation-delay: 24s;
            }
            &__slideshow &__slideshow-item:nth-child(6) &__slideshow-img{
                background-image: url(../img/768/hero-img3-768.jpg);
                animation-delay: 30s;
            }
            &__btn{
                padding: 8px 17px;
                font-size: 12px;
                font-weight: 700;
                }
        }
        .header{
            &__nav{
                height: 560px;
            }
            &__menu {

                z-index: 9;
                display: flex;
                flex-direction: column;
                padding: 0;
            }
        
            &__menu-item {
                &+&{
                    margin: 0;
                    margin-top: 20px;
                    // margin-top: 15px;
                }
                &:last-child .header__login-1024px{
                    margin-top: 11px;
                    padding: 10px 0;
                    padding-left: 43px;
                    padding-right: 30px;
                    font-weight: 600;
                    font-size: 12px;
                    border: 2px solid #9d5cd0;
                    border-radius: 100px;
                    &::before{
                        left: 30px;
                        background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.545 6.295L4.25 7L6.75 4.5L4.25 2L3.545 2.705L4.835 4H0V5H4.835L3.545 6.295ZM8 0H1C0.445 0 0 0.45 0 1V3H1V1H8V8H1V6H0V8C0 8.55 0.445 9 1 9H8C8.55 9 9 8.55 9 8V1C9 0.45 8.55 0 8 0Z' fill='white'/%3E%3C/svg%3E%0A");
                        width: 9px;
                        height: 9px;
                    }
                    &:focus{
                        outline-color: #9D5CD0;
                        outline-width: 2px;
                        outline-offset: 3px;
                    }
                }
            }
    
            &__menu-link {
                word-wrap: normal;
                color: #fff;
                font-weight: 600;
                font-size: 16px;
                @include transition;
                
                &:hover{
                    color: $purpure-link;
                }
            }
        }
        
    }
    @media(max-width:321px){
        .hero{
        height: 355px;
            &__block{
                top: 77px;
                left: 3px;
            }
            &__inner{
                padding: 0;
            }
            &__title{
            font-size: 32px;
            line-height: 38px;
            margin-bottom: 10px;
            max-width: 251px;
            }
            &__text{
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            margin-bottom: 42px;
            max-width: 275px;
            }
            &__slideshow &__slideshow-item &__slideshow-img{
                height: 355px;
            }
            &__slideshow &__slideshow-item:nth-child(1) &__slideshow-img{
                background-image: url(../img/320/hero-img1-320.jpg);
            }
            &__slideshow &__slideshow-item:nth-child(2) &__slideshow-img{
                background-image: url(../img/320/hero-img2-320.jpg);
                animation-delay: 6s;
            }
            &__slideshow &__slideshow-item:nth-child(3) &__slideshow-img{
                background-image: url(../img/320/hero-img3-320.jpg);
                animation-delay: 12s;
            }
            &__slideshow &__slideshow-item:nth-child(4) &__slideshow-img{
                background-image: url(../img/320/hero-img1-320.jpg);
                animation-delay: 18s;
            }
            &__slideshow &__slideshow-item:nth-child(5) &__slideshow-img{
                background-image: url(../img/320/hero-img2-320.jpg);
                animation-delay: 24s;
            }
            &__slideshow &__slideshow-item:nth-child(6) &__slideshow-img{
                background-image: url(../img/320/hero-img3-320.jpg);
                animation-delay: 30s;
            }
        }
        .header{
            &__nav{
                height: 355px;
            }
            	&__menu {
			left: 15px;
			top: 67px;
		}
	
		&__menu-item {
			&+&{
				margin-top: 10px;
			}
		}
        }
        }