.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.button {
  background-color: transparent;
  outline-color: #9D5CD0;
  outline-color: #C283F3;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.button:hover {
  color: #C283F3;
}

.button:active {
  color: #9D5CD0;
}

.hide {
  display: none !important;
}

.section-container {
  padding-top: 90px;
  padding-bottom: 80px;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "OpenSans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "OpenSans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #333333;
  font-size: 20px;
  background-color: #E5E5E5;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1640px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.header {
  z-index: 3;
  background-color: #000;
  caret-color: #C283F3;
  position: relative;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner::before,
.header .header__inner::after {
  display: none;
}

.header__searchBtn--1024px {
  display: none;
}

.header__burger {
  display: none;
}

.header__menu {
  margin-left: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item + .header__menu-item {
  margin-left: 62px;
}

.header__menu-item:last-child {
  padding-right: 20px;
}

.header__menu-link {
  outline-width: 2px;
  outline-color: #7943A4;
  word-wrap: normal;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.header__menu-link:hover {
  color: #C283F3;
}

.header__menu-link:active {
  color: #9D5CD0;
}

.header__login {
  color: #fff;
  font-weight: 400;
  margin-left: auto;
  font-size: 18px;
  padding-left: 20px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.header__login:hover {
  color: #C283F3;
}

.header__login::before {
  content: '';
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.12056 9.09278L6.13889 10.1111L9.75 6.5L6.13889 2.88889L5.12056 3.90722L6.98389 5.77778H0V7.22222H6.98389L5.12056 9.09278ZM11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V4.33333H1.44444V1.44444H11.5556V11.5556H1.44444V8.66667H0V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0Z' fill='white'/%3E%3C/svg%3E%0A");
  left: 0;
  width: 13px;
  height: 13px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.header__login:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.12056 9.09278L6.13889 10.1111L9.75 6.5L6.13889 2.88889L5.12056 3.90722L6.98389 5.77778H0V7.22222H6.98389L5.12056 9.09278ZM11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V4.33333H1.44444V1.44444H11.5556V11.5556H1.44444V8.66667H0V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0Z' fill='%23C283F3'/%3E%3C/svg%3E%0A");
}

.header__login.header__login--1024px {
  display: none;
}

.header__bottom {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 6;
  position: absolute;
  width: 100%;
}

.header__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 21px 20px 23px 20px;
}

.header__bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__bottom-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 14px;
}

.header__bottom-item::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 5L6 10L0.999997 5' stroke='white'/%3E%3C/svg%3E%0A");
  position: absolute;
  right: 0;
  width: 12px;
  height: 11px;
}

.header__bottom-item + .header__bottom-item {
  margin-left: 99px;
}

.header__bottom-item--active {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.header__bottom-item--active::after {
  top: 10px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header__bottom-link {
  color: #fff;
  font-size: 18px;
  background-color: transparent;
}

.header__sub-menu {
  position: absolute;
  top: 50px;
  background-color: #666;
  padding: 0 40px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  height: 0px;
  min-width: 300px;
}

.header__sub-item:first-child {
  margin-top: 45px;
}

.header__sub-item:last-child {
  margin-bottom: 45px;
}

.header__sub-menu--active {
  height: 300px;
}

.header__sub-item {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 7px;
  padding-bottom: 12px;
  width: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.header__sub-item:hover {
  -webkit-animation: scaleBackground 2s linear alternate infinite;
          animation: scaleBackground 2s linear alternate infinite;
}

.header__sub-item + .header__sub-item {
  margin-top: 22px;
}

.header__sub-link {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

.header__sub-link:hover::after {
  border: 2px solid #9D5CD0;
}

.header__sub-link:active::after {
  background-color: rgba(194, 131, 243, 0.4);
}

.header__sub-link::after {
  content: '';
  position: absolute;
  width: 220px;
  left: -14px;
  top: -12px;
  height: 40px;
}

.header__sub-menu--reality .header__sub-item:nth-child(4n+1) {
  background-image: url(../img/1920/drop-downs/drop-down1/drop-down-img1.jpg);
}

.header__sub-menu--reality .header__sub-item:nth-child(4n+2) {
  background-image: url(../img/1920/drop-downs/drop-down1/drop-down-img2.jpg);
}

.header__sub-menu--reality .header__sub-item:nth-child(4n+3) {
  background-image: url(../img/1920/drop-downs/drop-down1/drop-down-img3.jpg);
}

.header__sub-menu--reality .header__sub-item:nth-child(4n+4) {
  background-image: url(../img/1920/drop-downs/drop-down1/drop-down-img4.jpg);
}

.header__sub-menu--impressionism .header__sub-item:nth-child(4n+1) {
  background-image: url(../img/1920/drop-downs/drop-down2/drop-down-img1.jpg);
}

.header__sub-menu--impressionism .header__sub-item:nth-child(4n+2) {
  background-image: url(../img/1920/drop-downs/drop-down2/drop-down-img2.jpg);
}

.header__sub-menu--impressionism .header__sub-item:nth-child(4n+3) {
  background-image: url(../img/1920/drop-downs/drop-down2/drop-down-img3.jpg);
}

.header__sub-menu--impressionism .header__sub-item:nth-child(4n+4) {
  background-image: url(../img/1920/drop-downs/drop-down2/drop-down-img4.jpg);
}

.header__sub-menu--postimpressionism .header__sub-item:nth-child(4n+1) {
  background-image: url(../img/1920/drop-downs/drop-down3/drop-down-img1.jpg);
}

.header__sub-menu--postimpressionism .header__sub-item:nth-child(4n+2) {
  background-image: url(../img/1920/drop-downs/drop-down3/drop-down-img2.jpg);
}

.header__sub-menu--postimpressionism .header__sub-item:nth-child(4n+3) {
  background-image: url(../img/1920/drop-downs/drop-down3/drop-down-img3.jpg);
}

.header__sub-menu--postimpressionism .header__sub-item:nth-child(4n+4) {
  background-image: url(../img/1920/drop-downs/drop-down3/drop-down-img4.jpg);
}

.header__sub-menu--avangard .header__sub-item:nth-child(4n+1) {
  background-image: url(../img/1920/drop-downs/drop-down4/drop-down-img1.jpg);
}

.header__sub-menu--avangard .header__sub-item:nth-child(4n+2) {
  background-image: url(../img/1920/drop-downs/drop-down4/drop-down-img2.jpg);
}

.header__sub-menu--avangard .header__sub-item:nth-child(4n+3) {
  background-image: url(../img/1920/drop-downs/drop-down4/drop-down-img3.jpg);
}

.header__sub-menu--avangard .header__sub-item:nth-child(4n+4) {
  background-image: url(../img/1920/drop-downs/drop-down4/drop-down-img4.jpg);
}

.header__sub-menu--futurizm .header__sub-item:nth-child(4n+1) {
  background-image: url(../img/1920/drop-downs/drop-down5/drop-down-img1.jpg);
}

.header__sub-menu--futurizm .header__sub-item:nth-child(4n+2) {
  background-image: url(../img/1920/drop-downs/drop-down5/drop-down-img2.jpg);
}

.header__sub-menu--futurizm .header__sub-item:nth-child(4n+3) {
  background-image: url(../img/1920/drop-downs/drop-down5/drop-down-img3.jpg);
}

.header__sub-menu--futurizm .header__sub-item:nth-child(4n+4) {
  background-image: url(../img/1920/drop-downs/drop-down5/drop-down-img4.jpg);
}

.header__search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  padding-left: 31px;
  position: relative;
  z-index: 6;
}

.header__search-wrapper::before {
  content: '';
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='white'/%3E%3C/svg%3E%0A");
  left: 0;
  width: 23px;
  height: 22px;
}

.header__search-wrapper--active::before {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='%23C283F3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='%23C283F3'/%3E%3C/svg%3E%0A");
}

.header__search {
  background-color: transparent;
  padding-top: 5px;
  outline: none;
  width: 218px;
  padding-right: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  padding-bottom: 3px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.header__search::-webkit-input-placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.header__search::-moz-placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.header__search:-ms-input-placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.header__search::-ms-input-placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.header__search::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.header .simplebar-scrollbar {
  left: -2px;
  border: 0;
}

.header .simplebar-scrollbar::before {
  background-color: #FFF;
  opacity: 1;
  width: 4px;
}

.header__search-wrapper--1024px {
  display: none;
}

.header .simplebar-track.simplebar-vertical {
  background-color: #000;
  width: 4px;
  right: 10px;
}

@-webkit-keyframes scaleBackground {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 125%;
  }
}

@keyframes scaleBackground {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 125%;
  }
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.hero {
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: 2;
  overflow-x: hidden;
}

.hero__block {
  padding: 0 20px;
  position: absolute;
  top: 140px;
  left: -3px;
  color: #fff;
  line-height: 84px;
}

.hero__inner {
  position: relative;
  z-index: 5;
}

.hero__title {
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 18px;
  max-width: 600px;
}

.hero__btn,
.hero__text {
  margin-left: 4px;
}

.hero__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 85px;
  max-width: 610px;
}

.hero__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 22px 35px;
  color: #fff;
  background-color: #9D5CD0;
  border-radius: 100px;
}

.hero__btn:hover {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  color: #fff;
  border: 3px solid #D1A9F0;
}

.hero__btn:active {
  color: #fff;
  background-color: #7943A4;
}

.hero__slideshow,
.hero__slideshow:after {
  width: 100%;
  height: 800px;
  z-index: 0;
}

.hero__slideshow .hero__slideshow-item .hero__slideshow-img {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  background-color: #9D5CD0;
  z-index: 0;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
          animation: imageAnimation 36s linear infinite 0s;
}

.hero__slideshow .hero__slideshow-item:nth-child(1) .hero__slideshow-img {
  background-image: url(../img/1920/hero-img1-1920px.jpg);
}

.hero__slideshow .hero__slideshow-item:nth-child(2) .hero__slideshow-img {
  background-image: url(../img/1920/hero-img2-1920.jpg);
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.hero__slideshow .hero__slideshow-item:nth-child(3) .hero__slideshow-img {
  background-image: url(../img/1920/hero-img3-1920.jpg);
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.hero__slideshow .hero__slideshow-item:nth-child(4) .hero__slideshow-img {
  background-image: url(../img/1920/hero-img1-1920px.jpg);
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}

.hero__slideshow .hero__slideshow-item:nth-child(5) .hero__slideshow-img {
  background-image: url(../img/1920/hero-img2-1920.jpg);
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
}

.hero__slideshow .hero__slideshow-item:nth-child(6) .hero__slideshow-img {
  background-image: url(../img/1920/hero-img3-1920.jpg);
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

  17% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

  17% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    opacity: 0;
  }
}

.about__title {
  font-size: 48px;
  margin-bottom: 24px;
}

.about__text {
  font-size: 16px;
  line-height: 2;
  max-width: 1080px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1025px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 1443px) {
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    margin-left: 25px;
  }

  .header__menu {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__menu-item + .header__menu-item {
    margin-left: 20px;
  }

  .header__menu-link {
    font-size: 14px;
  }

  .header__login {
    margin: 0;
    font-size: 16px;
  }

  .header__bottom-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 800px;
  }

  .header__bottom-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__bottom-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 14px;
    margin: 0 !important;
  }

  .header__bottom-link {
    color: #fff;
    font-size: 18px;
    background-color: transparent;
  }

  .header__search-wrapper {
    margin-left: 0;
  }

  .header__search-wrapper::before {
    display: none;
  }

  .header__search {
    padding-top: 5px;
    width: 150px;
  }

  .header__search::-webkit-input-placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);
  }

  .header__search::-moz-placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);
  }

  .header__search:-ms-input-placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);
  }

  .header__search::-ms-input-placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);
  }

  .header__search::placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);
  }
}

@media (max-width: 1025px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__searchBtn--1024px {
    display: block;
  }

  .header__logo--1024px {
    margin-left: 30px;
  }

  .header__burger {
    background-color: transparent;
    display: block;
    position: relative;
    height: 20px;
    position: relative;
    z-index: 3;
    outline: invert;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    width: 28.2px;
    position: absolute;
    left: 0;
    height: 3.65px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 3.65px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: -4px;
    width: 36px;
  }

  .header__burger:after {
    bottom: -4px;
    width: 24px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active {
    z-index: 20;
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 7px;
    width: 36px;
  }

  .header__searchBtn--1024px {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M6.581 21.046L0 27.41 1.646 29l6.58-6.362z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.125 24.174c-6.087 0-10.797-4.901-10.797-10.664 0-5.762 4.71-10.663 10.797-10.663 6.087 0 10.797 4.901 10.797 10.663 0 5.763-4.71 10.664-10.797 10.664zm0 2.666c-7.362 0-13.33-5.968-13.33-13.33C2.795 6.15 8.763.18 16.125.18c7.361 0 13.33 5.969 13.33 13.33 0 7.362-5.969 13.33-13.33 13.33z' fill='%23fff'/%3E%3C/svg%3E");
    width: 30px;
    height: 29px;
    background-color: transparent;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .header__searchBtn--hide {
    margin-right: 230px;
    margin-left: -230px;
  }

  .header__search-wrapper--1024px {
    display: block;
    z-index: 6;
  }

  .header__search-wrapper--1024px:focus-visible .header__search-wrapper--1024px:focus-within {
    border-color: #C283F3;
  }

  .header__nav {
    position: absolute;
    z-index: 9;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    width: 100vw;
    height: 768px;
    top: 0px;
    left: -1050px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .header__nav--active {
    left: 0px;
  }

  .header__menu {
    position: absolute;
    left: 50px;
    top: 100px;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 11px;
  }

  .header__menu-item + .header__menu-item {
    margin: 0;
    margin-top: 31px;
  }

  .header__menu-item:last-child .header__login--1024px {
    margin-top: 100px;
    padding: 15px 0px;
    padding-left: 106px;
    padding-right: 92px;
    font-weight: 600;
    border: 2px solid #9d5cd0;
    border-radius: 100px;
  }

  .header__menu-item:last-child .header__login--1024px::before {
    left: 86px;
  }

  .header__menu-link {
    word-wrap: normal;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .header__menu-link:hover {
    color: #C283F3;
  }

  .header__login {
    display: none;
  }

  .header__login.header__login--1024px {
    display: block;
    font-size: 18px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__bottom {
    display: none;
  }

  .header__search-wrapper--1024px {
    position: absolute;
    right: -500px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .header__search--active {
    -webkit-animation: moveSearch 0.3s;
            animation: moveSearch 0.3s;
    right: 50px;
  }

  .header__search--1024px {
    background-color: transparent;
    padding-top: 5px;
    width: 218px;
    padding-right: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    padding-bottom: 3px;
    color: #fff;
    font-size: 16px;
  }

  .header__search--1024px::-webkit-input-placeholder {
    font-size: 18px;
    color: #fff;
  }

  .header__search--1024px::-moz-placeholder {
    font-size: 18px;
    color: #fff;
  }

  .header__search--1024px:-ms-input-placeholder {
    font-size: 18px;
    color: #fff;
  }

  .header__search--1024px::-ms-input-placeholder {
    font-size: 18px;
    color: #fff;
  }

  .header__search--1024px::placeholder {
    font-size: 18px;
    color: #fff;
  }

  .hero {
    height: 666px;
  }

  .hero__text {
    max-width: 666px;
    margin-bottom: 127px;
  }

  .hero__block {
    top: 110px;
    left: 24px;
  }

  .hero__title {
    margin-bottom: 10px;
  }

  .hero__slideshow .hero__slideshow-item .hero__slideshow-img {
    height: 666px;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(1) .hero__slideshow-img {
    background-image: url(../img/1024/hero-img1-1024.jpg);
  }

  .hero__slideshow .hero__slideshow-item:nth-child(2) .hero__slideshow-img {
    background-image: url(../img/1024/hero-img2-1024.jpg);
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(3) .hero__slideshow-img {
    background-image: url(../img/1024/hero-img3-1024.jpg);
    -webkit-animation-delay: 12s;
            animation-delay: 12s;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(4) .hero__slideshow-img {
    background-image: url(../img/1024/hero-img1-1024.jpg);
    -webkit-animation-delay: 18s;
            animation-delay: 18s;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(5) .hero__slideshow-img {
    background-image: url(../img/1024/hero-img2-1024.jpg);
    -webkit-animation-delay: 24s;
            animation-delay: 24s;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(6) .hero__slideshow-img {
    background-image: url(../img/1024/hero-img3-1024.jpg);
    -webkit-animation-delay: 30s;
            animation-delay: 30s;
  }
}

@media (max-width: 844px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__top {
    padding: 30px 0;
  }

  .header__top--active {
    padding: 36px 0;
  }

  .header__logo {
    margin-left: 27px;
  }

  .header__search-wrapper--1024px {
    padding: 0 106px 10px 77px;
    right: -700px;
    width: 100%;
    max-width: 755px;
  }

  .header__search--active::before,
  .header .header__search--active::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 20px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background-color: #fff;
    right: 46px;
    top: 20px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__search--active::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .header__searchBtn--hide {
    margin: 0;
  }

  .header__search--1024px {
    padding: 0 12px;
    padding-top: 12px;
    width: 100%;
  }

  .header__search--1024px::-webkit-input-placeholder {
    color: transparent;
  }

  .header__search--1024px::-moz-placeholder {
    color: transparent;
  }

  .header__search--1024px:-ms-input-placeholder {
    color: transparent;
  }

  .header__search--1024px::-ms-input-placeholder {
    color: transparent;
  }

  .header__search--1024px::placeholder {
    color: transparent;
  }

  .header__search--active {
    right: 0px;
  }

  .header__searchBtn--1024px {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
}

@media (max-width: 700px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 630px) {
  .hero {
    height: 666px;
  }

  .hero__inner {
    padding: 0;
  }

  .hero__title {
    text-align: center;
    margin-bottom: 150px;
  }

  .hero__text {
    font-size: 20px;
    margin-left: 0;
    max-width: auto;
    text-align: center;
  }

  .hero__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1;
  }

  .hero__title {
    font-size: 32px;
  }

  .hero__slideshow .hero__slideshow-item .hero__slideshow-img {
    height: 666px;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(1) .hero__slideshow-img {
    background-image: url(../img/768/hero-img1-768.jpg);
  }

  .hero__slideshow .hero__slideshow-item:nth-child(2) .hero__slideshow-img {
    background-image: url(../img/768/hero-img2-768.jpg);
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(3) .hero__slideshow-img {
    background-image: url(../img/768/hero-img3-768.jpg);
    -webkit-animation-delay: 12s;
            animation-delay: 12s;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(4) .hero__slideshow-img {
    background-image: url(../img/768/hero-img1-768.jpg);
    -webkit-animation-delay: 18s;
            animation-delay: 18s;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(5) .hero__slideshow-img {
    background-image: url(../img/768/hero-img2-768.jpg);
    -webkit-animation-delay: 24s;
            animation-delay: 24s;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(6) .hero__slideshow-img {
    background-image: url(../img/768/hero-img3-768.jpg);
    -webkit-animation-delay: 30s;
            animation-delay: 30s;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 666px;
  }

  .hero__inner {
    padding: 0;
  }

  .hero__title {
    line-height: 2;
    margin-bottom: 90px;
  }

  .hero__text {
    font-size: 20px;
    margin-left: 0;
    max-width: auto;
    text-align: center;
  }

  .hero__block {
    top: 50px;
  }

  .hero__title {
    font-size: 32px;
  }

  .hero__slideshow .hero__slideshow-item .hero__slideshow-img {
    height: 666px;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(1) .hero__slideshow-img {
    background-image: url(../img/768/hero-img1-768.jpg);
  }

  .hero__slideshow .hero__slideshow-item:nth-child(2) .hero__slideshow-img {
    background-image: url(../img/768/hero-img2-768.jpg);
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(3) .hero__slideshow-img {
    background-image: url(../img/768/hero-img3-768.jpg);
    -webkit-animation-delay: 12s;
            animation-delay: 12s;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(4) .hero__slideshow-img {
    background-image: url(../img/768/hero-img1-768.jpg);
    -webkit-animation-delay: 18s;
            animation-delay: 18s;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(5) .hero__slideshow-img {
    background-image: url(../img/768/hero-img2-768.jpg);
    -webkit-animation-delay: 24s;
            animation-delay: 24s;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(6) .hero__slideshow-img {
    background-image: url(../img/768/hero-img3-768.jpg);
    -webkit-animation-delay: 30s;
            animation-delay: 30s;
  }

  .hero__btn {
    padding: 8px 17px;
    font-size: 12px;
    font-weight: 700;
  }
}

@media (max-width: 400px) {
  .header__burger:before {
    width: 21px;
  }

  .header__logo {
    margin-left: 20px;
  }

  .header__searchBtn--1024px {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='5.02605' height='1.25651' transform='matrix(-0.71131 0.702878 0.71131 0.702878 3.57617 11.5841)' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.75929 13.3207C5.45281 13.3207 2.89432 10.5994 2.89432 7.40037C2.89432 4.2013 5.45281 1.48007 8.75929 1.48007C12.0658 1.48007 14.6243 4.2013 14.6243 7.40037C14.6243 10.5994 12.0658 13.3207 8.75929 13.3207ZM8.75929 14.8007C4.76036 14.8007 1.51858 11.4875 1.51858 7.40037C1.51858 3.31326 4.76036 0 8.75929 0C12.7582 0 16 3.31326 16 7.40037C16 11.4875 12.7582 14.8007 8.75929 14.8007Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 16px;
    height: 16px;
  }

  .header__nav {
    height: 370px;
  }

  .header__top {
    padding: 0;
    padding-top: 28px;
    padding-bottom: 10px;
  }

  .header__burger span {
    height: 2px;
    width: 16px;
  }

  .header__burger::after,
  .header .header__burger::before {
    height: 2px;
  }

  .header__burger::after {
    bottom: 3px;
    width: 13px;
  }

  .header__burger::before {
    width: 20px;
    top: 2px;
  }

  .header .header__burger.active:before {
    top: 10px;
  }

  .header .header__burger.active:after {
    bottom: 8px;
    width: 20px;
  }

  .header__nav {
    height: 370px;
  }

  .header__nav--active {
    left: 0px;
  }

  .header__menu {
    left: 15px;
    top: 67px;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }

  .header__menu-item + .header__menu-item {
    margin: 0;
    margin-top: 10px;
  }

  .header__menu-item:last-child .header__login--1024px {
    margin-top: 11px;
    padding: 10px 0;
    padding-left: 43px;
    padding-right: 30px;
    font-weight: 600;
    font-size: 12px;
    border: 2px solid #9d5cd0;
    border-radius: 100px;
  }

  .header__menu-item:last-child .header__login--1024px::before {
    left: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.545 6.295L4.25 7L6.75 4.5L4.25 2L3.545 2.705L4.835 4H0V5H4.835L3.545 6.295ZM8 0H1C0.445 0 0 0.45 0 1V3H1V1H8V8H1V6H0V8C0 8.55 0.445 9 1 9H8C8.55 9 9 8.55 9 8V1C9 0.45 8.55 0 8 0Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 9px;
    height: 9px;
  }

  .header__menu-link {
    word-wrap: normal;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .header__menu-link:hover {
    color: #C283F3;
  }

  .header__search-wrapper--1024px {
    padding: 0 106px 10px 77px;
    right: -700px;
    width: 100%;
    max-width: 755px;
  }

  .header__search--active::before,
  .header .header__search--active::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 20px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background-color: #fff;
    right: 46px;
    top: 20px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__search--active::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .header__searchBtn--hide {
    margin: 0;
  }

  .header__search--1024px {
    padding: 0 12px;
    padding-top: 12px;
    width: 100%;
  }

  .header__search--1024px::-webkit-input-placeholder {
    color: transparent;
  }

  .header__search--1024px::-moz-placeholder {
    color: transparent;
  }

  .header__search--1024px:-ms-input-placeholder {
    color: transparent;
  }

  .header__search--1024px::-ms-input-placeholder {
    color: transparent;
  }

  .header__search--1024px::placeholder {
    color: transparent;
  }

  .header__search--active {
    right: 0px;
  }

  .header__searchBtn--1024px {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .header--search {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100vw;
    z-index: 3;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }

  .about .section-container {
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .about__title {
    font-size: 28px;
    margin-bottom: 17px;
  }

  .about__text {
    font-size: 14px;
    line-height: 2;
  }
}

@media (max-width: 321px) {
  .hero {
    height: 310px;
  }

  .hero__block {
    top: 32px;
    left: 3px;
  }

  .hero__inner {
    padding: 0;
  }

  .hero__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 10px;
    max-width: 251px;
  }

  .hero__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 42px;
    max-width: 275px;
  }

  .hero__slideshow .hero__slideshow-item .hero__slideshow-img {
    height: 310px;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(1) .hero__slideshow-img {
    background-image: url(../img/320/hero-img1-320.jpg);
  }

  .hero__slideshow .hero__slideshow-item:nth-child(2) .hero__slideshow-img {
    background-image: url(../img/320/hero-img2-320.jpg);
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(3) .hero__slideshow-img {
    background-image: url(../img/320/hero-img3-320.jpg);
    -webkit-animation-delay: 12s;
            animation-delay: 12s;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(4) .hero__slideshow-img {
    background-image: url(../img/320/hero-img1-320.jpg);
    -webkit-animation-delay: 18s;
            animation-delay: 18s;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(5) .hero__slideshow-img {
    background-image: url(../img/320/hero-img2-320.jpg);
    -webkit-animation-delay: 24s;
            animation-delay: 24s;
  }

  .hero__slideshow .hero__slideshow-item:nth-child(6) .hero__slideshow-img {
    background-image: url(../img/320/hero-img3-320.jpg);
    -webkit-animation-delay: 30s;
            animation-delay: 30s;
  }
}

.webp .header__sub-menu--reality .header__sub-item:nth-child(4n+1) { background-image: url(../img/1920/drop-downs/drop-down1/drop-down-img1.webp); }

.webp .header__sub-menu--reality .header__sub-item:nth-child(4n+2) { background-image: url(../img/1920/drop-downs/drop-down1/drop-down-img2.webp); }

.webp .header__sub-menu--reality .header__sub-item:nth-child(4n+3) { background-image: url(../img/1920/drop-downs/drop-down1/drop-down-img3.webp); }

.webp .header__sub-menu--reality .header__sub-item:nth-child(4n+4) { background-image: url(../img/1920/drop-downs/drop-down1/drop-down-img4.webp); }

.webp .header__sub-menu--impressionism .header__sub-item:nth-child(4n+1) { background-image: url(../img/1920/drop-downs/drop-down2/drop-down-img1.webp); }

.webp .header__sub-menu--impressionism .header__sub-item:nth-child(4n+2) { background-image: url(../img/1920/drop-downs/drop-down2/drop-down-img2.webp); }

.webp .header__sub-menu--impressionism .header__sub-item:nth-child(4n+3) { background-image: url(../img/1920/drop-downs/drop-down2/drop-down-img3.webp); }

.webp .header__sub-menu--impressionism .header__sub-item:nth-child(4n+4) { background-image: url(../img/1920/drop-downs/drop-down2/drop-down-img4.webp); }

.webp .header__sub-menu--postimpressionism .header__sub-item:nth-child(4n+1) { background-image: url(../img/1920/drop-downs/drop-down3/drop-down-img1.webp); }

.webp .header__sub-menu--postimpressionism .header__sub-item:nth-child(4n+2) { background-image: url(../img/1920/drop-downs/drop-down3/drop-down-img2.webp); }

.webp .header__sub-menu--postimpressionism .header__sub-item:nth-child(4n+3) { background-image: url(../img/1920/drop-downs/drop-down3/drop-down-img3.webp); }

.webp .header__sub-menu--postimpressionism .header__sub-item:nth-child(4n+4) { background-image: url(../img/1920/drop-downs/drop-down3/drop-down-img4.webp); }

.webp .header__sub-menu--avangard .header__sub-item:nth-child(4n+1) { background-image: url(../img/1920/drop-downs/drop-down4/drop-down-img1.webp); }

.webp .header__sub-menu--avangard .header__sub-item:nth-child(4n+2) { background-image: url(../img/1920/drop-downs/drop-down4/drop-down-img2.webp); }

.webp .header__sub-menu--avangard .header__sub-item:nth-child(4n+3) { background-image: url(../img/1920/drop-downs/drop-down4/drop-down-img3.webp); }

.webp .header__sub-menu--avangard .header__sub-item:nth-child(4n+4) { background-image: url(../img/1920/drop-downs/drop-down4/drop-down-img4.webp); }

.webp .header__sub-menu--futurizm .header__sub-item:nth-child(4n+1) { background-image: url(../img/1920/drop-downs/drop-down5/drop-down-img1.webp); }

.webp .header__sub-menu--futurizm .header__sub-item:nth-child(4n+2) { background-image: url(../img/1920/drop-downs/drop-down5/drop-down-img2.webp); }

.webp .header__sub-menu--futurizm .header__sub-item:nth-child(4n+3) { background-image: url(../img/1920/drop-downs/drop-down5/drop-down-img3.webp); }

.webp .header__sub-menu--futurizm .header__sub-item:nth-child(4n+4) { background-image: url(../img/1920/drop-downs/drop-down5/drop-down-img4.webp); }

.webp .hero__slideshow .hero__slideshow-item:nth-child(1) .hero__slideshow-img { background-image: url(../img/1920/hero-img1-1920px.webp); }

.webp .hero__slideshow .hero__slideshow-item:nth-child(2) .hero__slideshow-img { background-image: url(../img/1920/hero-img2-1920.webp); }

.webp .hero__slideshow .hero__slideshow-item:nth-child(3) .hero__slideshow-img { background-image: url(../img/1920/hero-img3-1920.webp); }

.webp .hero__slideshow .hero__slideshow-item:nth-child(4) .hero__slideshow-img { background-image: url(../img/1920/hero-img1-1920px.webp); }

.webp .hero__slideshow .hero__slideshow-item:nth-child(5) .hero__slideshow-img { background-image: url(../img/1920/hero-img2-1920.webp); }

.webp .hero__slideshow .hero__slideshow-item:nth-child(6) .hero__slideshow-img { background-image: url(../img/1920/hero-img3-1920.webp); }

@media (max-width: 1024px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(1) .hero__slideshow-img { background-image: url(../img/1024/hero-img1-1024.webp); }
}

@media (max-width: 1024px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(2) .hero__slideshow-img { background-image: url(../img/1024/hero-img2-1024.webp); }
}

@media (max-width: 1024px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(3) .hero__slideshow-img { background-image: url(../img/1024/hero-img3-1024.webp); }
}

@media (max-width: 1024px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(4) .hero__slideshow-img { background-image: url(../img/1024/hero-img1-1024.webp); }
}

@media (max-width: 1024px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(5) .hero__slideshow-img { background-image: url(../img/1024/hero-img2-1024.webp); }
}

@media (max-width: 1024px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(6) .hero__slideshow-img { background-image: url(../img/1024/hero-img3-1024.webp); }
}

@media (max-width: 630px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(1) .hero__slideshow-img { background-image: url(../img/768/hero-img1-768.webp); }
}

@media (max-width: 630px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(2) .hero__slideshow-img { background-image: url(../img/768/hero-img2-768.webp); }
}

@media (max-width: 630px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(3) .hero__slideshow-img { background-image: url(../img/768/hero-img3-768.webp); }
}

@media (max-width: 630px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(4) .hero__slideshow-img { background-image: url(../img/768/hero-img1-768.webp); }
}

@media (max-width: 630px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(5) .hero__slideshow-img { background-image: url(../img/768/hero-img2-768.webp); }
}

@media (max-width: 630px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(6) .hero__slideshow-img { background-image: url(../img/768/hero-img3-768.webp); }
}

@media (max-width: 480px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(1) .hero__slideshow-img { background-image: url(../img/768/hero-img1-768.webp); }
}

@media (max-width: 480px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(2) .hero__slideshow-img { background-image: url(../img/768/hero-img2-768.webp); }
}

@media (max-width: 480px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(3) .hero__slideshow-img { background-image: url(../img/768/hero-img3-768.webp); }
}

@media (max-width: 480px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(4) .hero__slideshow-img { background-image: url(../img/768/hero-img1-768.webp); }
}

@media (max-width: 480px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(5) .hero__slideshow-img { background-image: url(../img/768/hero-img2-768.webp); }
}

@media (max-width: 480px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(6) .hero__slideshow-img { background-image: url(../img/768/hero-img3-768.webp); }
}

@media (max-width: 321px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(1) .hero__slideshow-img { background-image: url(../img/320/hero-img1-320.webp); }
}

@media (max-width: 321px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(2) .hero__slideshow-img { background-image: url(../img/320/hero-img2-320.webp); }
}

@media (max-width: 321px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(3) .hero__slideshow-img { background-image: url(../img/320/hero-img3-320.webp); }
}

@media (max-width: 321px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(4) .hero__slideshow-img { background-image: url(../img/320/hero-img1-320.webp); }
}

@media (max-width: 321px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(5) .hero__slideshow-img { background-image: url(../img/320/hero-img2-320.webp); }
}

@media (max-width: 321px) {

  .webp .hero__slideshow .hero__slideshow-item:nth-child(6) .hero__slideshow-img { background-image: url(../img/320/hero-img3-320.webp); }
}